<!DOCTYPE html>
<html>
  <head>
    <title>Clonebase</title>
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.png' %>
    <script type="text/javascript">
      window.search = "<%= image_url('search.png') %>";
      window.features_pic = "<%= image_url('features_pic.png') %>";
      window.features_mngprtflio = "<%= image_url('features_mngprtflio.png') %>";
      window.features_recbuys = "<%= image_url('features_recbuys.png') %>";
      window.features_vault = "<%= image_url('features_vault.png') %>";
      window.features_apps = "<%= image_url('features_apps.png') %>";
      window.gs_person = "<%= image_url('gs_person.png') %>";
      window.gs_bank = "<%= image_url('gs_bank.png') %>";
      window.gs_hand = "<%= image_url('gs_hand.png') %>";
      window.pv_chart = "<%= image_url('pv_chart.png') %>";
      window.btc_logo = "<%= image_url('btc_logo.png') %>";
      window.bch_logo = "<%= image_url('bch_logo.png') %>";
      window.eth_logo = "<%= image_url('eth_logo.png') %>";
      window.bat_logo = "<%= image_url('bat_logo.png') %>";
      window.ltc_logo = "<%= image_url('ltc_logo.png') %>";
      window.xlm_logo = "<%= image_url('xlm_logo.png') %>";
      window.xrp_logo = "<%= image_url('xrp_logo.png') %>";
      window.zrx_logo = "<%= image_url('zrx_logo.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
