<!DOCTYPE html>
<html>
  <head>
    <title>Clonebase</title>
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.png' %>
    <script type="text/javascript">
      window.search = "<%= image_url('search.png') %>";
      window.features_pic = "<%= image_url('features_pic.png') %>";
      window.features_mngprtflio = "<%= image_url('features_mngprtflio.png') %>";
      window.features_recbuys = "<%= image_url('features_recbuys.png') %>";
      window.features_vault = "<%= image_url('features_vault.png') %>";
      window.features_apps = "<%= image_url('features_apps.png') %>";
      window.pv_chart = "<%= image_url('pv_chart.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
